<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">About</h2>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate blanditiis rem facere dolorum adipisci aspernatur suscipit temporibus natus impedit, ipsa animi perferendis ex laboriosam, vero quibusdam repellat eos! Deserunt, doloremque accusantium perspiciatis officiis sed quia praesentium voluptates quidem pariatur iusto alias, tempora quaerat. Unde, fugit? Dolorem id earum amet laudantium!</p>
</section>